.header-btn-outros{
    background-color: transparent;
    color: #4F8298;
    border: 2px solid #4F8298;
    border-radius: 8px;
    width: 10em;
    height: 4em;
    padding: 0 1em;
    font-weight: 600;
    transition: .3s;
}
.header-btn-outros:hover {
    background-color: #4F8298;
    color: aliceblue;
    border: 2px solid #4F8298;
}

.headerOutros {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 1em;
}

.form-venda {
    padding: 1em;
}